@if (form()) {
<div [formGroup]="form()" class="form-card">

    <div class="form-section">

        <h3>Professional Information</h3>

        <div class="form-grid">

            <div class="form-group">
                <label for="department">Department</label>

                <select id="department" formControlName="department">

                    <option value="">
                        Select Department
                    </option>

                    <option value="OPD">
                        OPD
                    </option>

                    <option value="IPD">
                        IPD
                    </option>

                    <option value="LAB">
                        LAB
                    </option>

                    <option value="PHARMACY">
                        PHARMACY
                    </option>

                    <option value="ADMIN">
                        ADMIN
                    </option>

                </select>

                @if (
                form().get('department')?.touched &&
                form().get('department')?.invalid
                ) {
                <small class="error-text">
                    Please select a department
                </small>
                }

            </div>

            <div class="form-group">

                <label for="designation">
                    Designation
                </label>

                <input id="designation" type="text" formControlName="designation" placeholder="Enter designation">

                @if (
                form().get('designation')?.touched &&
                form().get('designation')?.invalid
                ) {
                <small class="error-text">
                    Designation is required
                </small>
                }

            </div>

            <div class="form-group">

                <label for="joiningDate">
                    Joining Date
                </label>

                <input id="joiningDate" type="date" formControlName="joiningDate">

                @if (
                form().get('joiningDate')?.touched &&
                form().get('joiningDate')?.invalid
                ) {
                <small class="error-text">
                    Joining date is required
                </small>
                }

            </div>

        </div>

    </div>

</div>
}